/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body{
 	margin-top: 60px !important;
 }

.btn-danger, .btn-primary{
	color: white !important;
}

div#log_status {
	margin-top: 10px;
}

div.form-actions{
	background-color: white !important;
}

div.map_container, div#map{
	width: 100%;
}

div.controls select#contract_contractendon_1i{
	width: 70px;
}
div.controls select#contract_contractendon_2i{
	width: 100px;
}
div.controls select#contract_contractendon_3i{
	width: 60px;
}